<ion-content class="page">
<ion-item>
  <ion-button slot="start" fill="clear" (click)="back()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-title>Bienvenue </ion-title>
  <ion-badge slot="end"  fill="clear" color="success">Connecte</ion-badge>
</ion-item>

  <ion-header class="filter" >
    <ion-button expand="full" color="primary" (click)="openModal()"> Filter</ion-button>
  </ion-header>

  <!-- <ion-item *ngFor="let user of users; let i = index">
    <ion-label>{{user.nom}} {{user.prenom}}</ion-label>
    <ion-button color="primary" slot="end" routerLink="/tabs/tab2/{{user.test}}" routerDirection="forward">Consulter</ion-button>
  </ion-item> -->
  <ion-item>
    <h4>Cliquez pour plus de details...</h4>
  </ion-item>

  <ion-row>
    <ion-col size-lg="4">

        <div *ngFor="let fact of facture; let i= index">
          
          <ion-list lines="none">
            <ion-item-sliding>
              <ion-item-options >
                <ion-item-option side="end" expandable color="danger" (click)="dropFact(i)">
                  <ion-icon name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>

              <ion-item >
                <ion-card  (click)="details(fact)" class="carte">    
                    <ion-item class="titre" lines="none">
                      <ion-label slot="start">{{fact.client.nom}} {{fact.client.prenom}}</ion-label>
                      <ion-label>{{fact.solde}} FCFA</ion-label>
                     </ion-item>            
                    <ion-item>
                      <ion-label>{{fact.article.length}} article(s)</ion-label>
                    </ion-item>
                </ion-card>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
          
        </div>
    </ion-col>
  </ion-row>  
</ion-content>
