ion-title
{
    text-align: center;
}
ion-toolbar ion-icon
{
    font-size: 3em;
}
ion-card
{
    width: 96%;
}

.tirage
{
    margin-right: 3%;
}

ion-footer
{
    border: 2px solid rgba(78, 79, 80, 0.801);
    margin-bottom: 5%;
    width: 95%;
    border-radius: 15px;
    background-color: rgba(78, 79, 80, 0.801);
    opacity: 0.8;
    position: relative;
    overflow: hidden;
    margin-left: 2%;
}

.main ion-item
{
    text-align: center;
    --background-color: rgba(78, 79, 80, 0.801);
}
