
  <ion-content >
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-input type="date" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Client</ion-label>
      <ion-select >
        <div *ngFor="let client of tabclient">
          <ion-select-option  value="{{client.nom}}">
            {{client.nom}}
          </ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      
    <ion-label>Etat</ion-label>
    <ion-select >
      <ion-select-option value="regle">
        Regle
      </ion-select-option>

      <ion-select-option value="non regle">
        Non regle
      </ion-select-option>
    </ion-select>
    </ion-item>
    <br>

    <ion-buttons style="float: right;">
      <ion-button (click)="dismiss()">Cancel</ion-button>
      <ion-button (click)="validate()" class="ion-margin-top">Ok</ion-button>
    </ion-buttons>
  </ion-content>