<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button routerLink="/homepage" fill="clear">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      Administrateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Ajout de client</ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="addClient(client)" #client="ngForm">
        <ion-item>
          <ion-input type="text" placeholder="Code" ngModel name="code" id="code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Nom" name="nom" id="nom" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Prenom" name="prenom" id="prenom" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="PSA Client" name="psa" id="psa" ngModel></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-button type="submit" slot="end">Enregistrer</ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Ajouter un article</ion-card-header>
    <ion-card-content>
      <form #article="ngForm" (ngSubmit)="addArticle(article)" >
        <ion-item>
          <ion-input type="text" placeholder="Code Article" name="code" id="code" ngModel ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Nom Article" name="noma" id="noma" ngModel ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="Prix" name="prix" id="prix" ngModel ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="Quantite" name="quantite" id="quantite" ngModel ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-button type="submit" slot="end">Enregistrer</ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
