<ion-content>
  <div class="header">
    <ion-searchbar></ion-searchbar>
  </div>
  <ion-row>
        <ion-col size-lg="4" >
          <ion-card *ngFor="let client of clients" >
            <ion-item lines="none">
              <ion-label slot="start">{{client.code}}</ion-label>
              <ion-label slot="end">{{client.nom}}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label slot="start">{{client.prenom}}</ion-label>
              <ion-label slot="end">{{client.psa}}</ion-label>
            </ion-item>                
          </ion-card>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="4" >
        <ion-card *ngFor="let article of articles" >
          <ion-item lines="none">
            <ion-label slot="start">{{article.code}}</ion-label>
            <ion-label slot="end">{{article.noma}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label slot="start">{{article.quantite}}</ion-label>
            <ion-label slot="end">{{article.prix}}</ion-label>
          </ion-item>                
        </ion-card>
      </ion-col>
  </ion-row>
  
    <ion-button (click)="back()" routerDirection="forward">Retour</ion-button>
</ion-content>

